{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}!{% endblock %}


{% block body %}
    <div class="container py-3">
        {{ product.description }}
        {{ product.price }}
    </div>
{% endblock %}