{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container mt-5" style="max-width: 400px;">
        {% for message in app.flashes('alert') %}
            <div class="alert alert-alert">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="text-center text-2xl font-bold mb-4">Inscription</h1>
        {{ form(registrationForm) }}

        <p class="mt-3 fst-italic">* Les champs sont obligatoires</p>
    </div>
{% endblock %}
