{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="mt-10 text-center text-2xl font-bold leading-9">Inscription</h1>
    <div class="container w-25 mt-5">
        {{ form(registrationForm) }}
    </div>

{% endblock %}